/*! Switches */
.switch {
  font-size: 1rem;
  position: relative
}

.switch input {
  position: absolute;
  height: 1px;
  width: 1px;
  background: none;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  overflow: hidden;
  padding: 0
}

.switch input + label {
  position: relative;
  min-width: 3.375rem;
  border-radius: 1.6875rem;
  height: 1.6875rem;
  line-height: 1.6875rem;
  display: inline-block;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  text-indent: 3.875rem
}

.switch input + label:after, .switch input + label:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3.375rem;
  bottom: 0;
  display: block
}

.switch input + label:before {
  right: 0;
  background-color: #ddd;
  border-radius: 1.6875rem;
  -webkit-transition: all .1s;
  transition: all .1s
}

.switch input + label:after {
  top: 2px;
  left: 2px;
  width: calc(1.6875rem - 4px);
  height: calc(1.6875rem - 4px);
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: margin .1s;
  transition: margin .1s
}

.switch input:checked + label:before {
  background-color: #0074d9
}

.switch input:checked + label:after {
  margin-left: 1.6875rem
}

.switch input:focus + label:before {
  outline: none;
  -webkit-box-shadow: 0 0 0 2px rgba(0, 116, 217, .5);
  box-shadow: 0 0 0 2px rgba(0, 116, 217, .5)
}

.switch input:disabled + label {
  opacity: .5;
  cursor: not-allowed
}

.switch + .switch {
  margin-left: 1rem
}

.switch.switch-xs {
  font-size: .625rem
}

.switch.switch-xs input + label {
  min-width: 1.875rem;
  height: .9375rem;
  line-height: .9375rem;
  text-indent: 2.375rem
}

.switch.switch-xs input + label:after, .switch.switch-xs input + label:before {
  width: 1.875rem
}

.switch.switch-xs input + label:after {
  width: calc(.9375rem - 4px);
  height: calc(.9375rem - 4px)
}

.switch.switch-xs input:checked + label:after {
  margin-left: .9375rem
}

.switch.switch-sm {
  font-size: .875rem
}

.switch.switch-sm input + label {
  min-width: 2.625rem;
  height: 1.3125rem;
  line-height: 1.3125rem;
  text-indent: 3.125rem
}

.switch.switch-sm input + label:after, .switch.switch-sm input + label:before {
  width: 2.625rem
}

.switch.switch-sm input + label:after {
  width: calc(1.3125rem - 4px);
  height: calc(1.3125rem - 4px)
}

.switch.switch-sm input:checked + label:after {
  margin-left: 1.3125rem
}

.switch.switch-lg {
  font-size: 1.25rem
}

.switch.switch-lg input + label {
  min-width: 4.125rem;
  height: 2.0625rem;
  line-height: 2.0625rem;
  text-indent: 4.625rem
}

.switch.switch-lg input + label:after, .switch.switch-lg input + label:before {
  width: 4.125rem
}

.switch.switch-lg input + label:after {
  width: calc(2.0625rem - 4px);
  height: calc(2.0625rem - 4px)
}

.switch.switch-lg input:checked + label:after {
  margin-left: 2.0625rem
}

.switch.switch-xl {
  font-size: 1.5rem
}

.switch.switch-xl input + label {
  min-width: 4.875rem;
  height: 2.4375rem;
  line-height: 2.4375rem;
  text-indent: 5.375rem
}

.switch.switch-xl input + label:after, .switch.switch-xl input + label:before {
  width: 4.875rem
}

.switch.switch-xl input + label:after {
  width: calc(2.4375rem - 4px);
  height: calc(2.4375rem - 4px)
}

.switch.switch-xl input:checked + label:after {
  margin-left: 2.4375rem
}

.switch.switch-secondary input {
  background-color: #ddd
}

.switch.switch-secondary input + label:after {
  background-color: #fff
}

.switch.switch-secondary input + label:before {
  background-color: #ddd
}

.switch.switch-secondary input:checked + label:before {
  background-color: #aaa
}

.switch.switch-secondary input:focus + label:before {
  -webkit-box-shadow: 0 0 0 2px hsla(0, 0%, 67%, .5);
  box-shadow: 0 0 0 2px hsla(0, 0%, 67%, .5)
}

.switch.switch-success input {
  background-color: #ddd
}

.switch.switch-success input + label:after {
  background-color: #fff
}

.switch.switch-success input + label:before {
  background-color: #ddd
}

.switch.switch-success input:checked + label:before {
  background-color: #2ecc40
}

.switch.switch-success input:focus + label:before {
  -webkit-box-shadow: 0 0 0 2px rgba(46, 204, 64, .5);
  box-shadow: 0 0 0 2px rgba(46, 204, 64, .5)
}

.switch.switch-info input {
  background-color: #ddd
}

.switch.switch-info input + label:after {
  background-color: #fff
}

.switch.switch-info input + label:before {
  background-color: #ddd
}

.switch.switch-info input:checked + label:before {
  background-color: #39cccc
}

.switch.switch-info input:focus + label:before {
  -webkit-box-shadow: 0 0 0 2px rgba(57, 204, 204, .5);
  box-shadow: 0 0 0 2px rgba(57, 204, 204, .5)
}

.switch.switch-warning input {
  background-color: #ddd
}

.switch.switch-warning input + label:after {
  background-color: #fff
}

.switch.switch-warning input + label:before {
  background-color: #ddd
}

.switch.switch-warning input:checked + label:before {
  background-color: #ff851b
}

.switch.switch-warning input:focus + label:before {
  -webkit-box-shadow: 0 0 0 2px rgba(255, 133, 27, .5);
  box-shadow: 0 0 0 2px rgba(255, 133, 27, .5)
}

.switch.switch-danger input {
  background-color: #ddd
}

.switch.switch-danger input + label:after {
  background-color: #fff
}

.switch.switch-danger input + label:before {
  background-color: #ddd
}

.switch.switch-danger input:checked + label:before {
  background-color: #ff4136
}

.switch.switch-danger input:focus + label:before {
  -webkit-box-shadow: 0 0 0 2px rgba(255, 65, 54, .5);
  box-shadow: 0 0 0 2px rgba(255, 65, 54, .5)
}

.switch.switch-light input {
  background-color: #e6e6e6
}

.switch.switch-light input + label:after {
  background-color: #fff
}

.switch.switch-light input + label:before {
  background-color: #e6e6e6
}

.switch.switch-light input:checked + label:before {
  background-color: #bfbfbf
}

.switch.switch-light input:focus + label:before {
  -webkit-box-shadow: 0 0 0 2px hsla(0, 0%, 75%, .5);
  box-shadow: 0 0 0 2px hsla(0, 0%, 75%, .5)
}

.switch.switch-dark input {
  background-color: #4d4d4d
}

.switch.switch-dark input + label:after {
  background-color: #fff
}

.switch.switch-dark input + label:before {
  background-color: #4d4d4d
}

.switch.switch-dark input:checked + label:before {
  background-color: #292929
}

.switch.switch-dark input:focus + label:before {
  -webkit-box-shadow: 0 0 0 2px rgba(41, 41, 41, .5);
  box-shadow: 0 0 0 2px rgba(41, 41, 41, .5)
}
