<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" href="data:,">
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'css/shoelace-switch.css' %}">
  <link rel="stylesheet" href="{% static 'css/ui-style.css' %}">
  <title>{{ pageTitle }}</title>
</head>

<body>

<main>

  <form action="{% url 'submit-config' %}" method="post">
    {% csrf_token %}

    <section class="card" id="power">
      <header class="card-header">
      <span class="switch switch-sm">
        <input name="power" type="checkbox" id="switch-power" {% if power.active %}checked{% endif %}>
        <label for="switch-power"></label>
      </span>
        <h4 class="title">Power</h4>
        <h4><span class="status badge badge-pill" id="power-status"></span></h4>
      </header>

      <ul class="list-group list-group-flush">

        <li class="list-group-item" id="group-voltages">
          <p class="group-title">Input voltages</p>
          <div class="group-content">
            <div class="item" id="usb-voltage">
              <label class="align-right">USB</label>
              <div class="progress compact" id="usb-voltage-bar"
                   data-min-voltage="{{ power.voltages.usb.min }}" data-max-voltage="{{ power.voltages.usb.max }}">
                <div class="progress-bar"></div>
              </div>
            </div>
            <div class="item" id="lemo-voltage">
              <label class="align-right">LEMO</label>
              <div class="progress compact" id="lemo-voltage-bar"
                   data-min-voltage="{{ power.voltages.lemo.min }}" data-max-voltage="{{ power.voltages.lemo.max }}">
                <div class="progress-bar"></div>
              </div>
            </div>
            <div class="item" id="ups-voltage">
              <label class="align-right">UPS</label>
              <div class="progress compact" id="ups-voltage-bar"
                   data-min-voltage="{{ power.voltages.ups.min }}" data-max-voltage="{{ power.voltages.ups.max }}">
                <div class="progress-bar"></div>
              </div>
            </div>
          </div>
        </li>

        <li class="list-group-item" id="group-voltage-thresholds">
          <p class="group-title">UPS&nbsp;voltage thresholds</p>
          <div class="group-content">
            <div class="item" id="shutdown-threshold">
              <label for="slider-shutdown-threshold">Shutdown</label>
              <input type="range" class="custom-range" id="slider-shutdown-threshold"
                     min="2" max="5" step="0.1" value="{{ power.thresholds.shutdown }}">
              <div class="input-group compact">
                <input name="power-shutdown-voltage" type="number"
                       class="form-control align-right" id="input-shutdown-threshold"
                       data-digits="3" min="2" max="5" step="0.1" value="{{ power.thresholds.shutdown }}">
                <div class="input-group-append"><span class="input-group-text">V</span></div>
              </div>
            </div>
            <div class="item" id="recovery-threshold">
              <label for="slider-recovery-threshold">Recovery</label>
              <input type="range" class="custom-range" id="slider-recovery-threshold"
                     min="2" max="5" step="0.1" value="{{ power.thresholds.recovery }}">
              <div class="input-group compact">
                <input name="power-recovery-voltage" type="number"
                       class="form-control align-right" id="input-recovery-threshold"
                       data-digits="3" min="2" max="5" step="0.1" value="{{ power.thresholds.recovery }}">
                <div class="input-group-append"><span class="input-group-text">V</span></div>
              </div>
            </div>
          </div>
        </li>

        <li class="list-group-item" id="group-poweroff-timeout">
          <div class="item" id="poweroff-timeout">
            <label for="slider-poweroff-timeout">Poweroff timeout</label>
            <input type="range" class="custom-range" id="slider-poweroff-timeout"
                   min="0" max="8" step="0.1" value="{{ power.timeout }}">
            <div class="input-group compact">
              <input name="power-poweroff-timeout" type="number"
                     class="form-control align-right" id="input-poweroff-timeout"
                     data-digits="3" min="0" max="8" step="0.1" value="{{ power.timeout }}">
              <div class="input-group-append"><span class="input-group-text">sec</span></div>
            </div>
          </div>
        </li>

      </ul>
    </section>

    <section class="card" id="base">
      <header class="card-header">
      <span class="switch switch-sm">
        <input name="base" type="checkbox" id="switch-base" {% if base.active %}checked{% endif %}>
        <label for="switch-base"></label>
      </span>
        <h4 class="title">Base station</h4>
        <h4><span class="status badge badge-pill" id="base-status"></span></h4>
      </header>

      <ul class="list-group list-group-flush">

        <li class="list-group-item" id="group-mode">
          <div class="item" id="mode">
            <label class="big" for="select-mode">Mode</label>
            <select name="base-mode" class="custom-select compact" id="select-mode">
              <option value="disabled" {% if base.mode == 'disabled' %} selected {% endif %}>Disabled</option>
              <option value="fixed" {% if base.mode == 'fixed' %} selected {% endif %}>Fixed</option>
              <option value="svin" {% if base.mode == 'svin' %} selected {% endif %}>SvIn</option>
            </select>
            <small class="details" id="base-details"></small>
          </div>
        </li>

        <li class="list-group-item disabled" id="group-svin-mode">
          <p class="group-title">Survey&#8209;in</p>
          <div class="group-content">
            <div class="item-container-caption">
              <label for="slider-acc-time">Coordinates observation time</label>
              <div class="item" id="acc-time">
                <input type="range" class="custom-range" id="slider-acc-time"
                min="0" max="300" step="10" value="{{ base.observe }}">
                <div class="input-group compact">
                  <input name="base-observe" type="number" class="form-control align-right" id="input-acc-time"
                         data-digits="3" min="0" max="300" step="10" value="{{ base.observe }}">
                  <div class="input-group-append"><span class="input-group-text">sec</span></div>
                </div>
              </div>
            </div>
            <div class="item-container-caption">
              <label for="slider-accuracy">Required positional accuracy</label>
              <div class="item" id="accuracy">
                <input type="range" class="custom-range" id="slider-accuracy"
                min="1" max="100" step="1" value="{{ base.accuracy }}">
                <div class="input-group compact">
                  <input name="base-accuracy" type="number" class="form-control align-right" id="input-accuracy"
                         data-digits="3" min="1" max="100" step="1" value="{{ base.accuracy }}">
                  <div class="input-group-append"><span class="input-group-text">mm</span></div>
                </div>
              </div>
            </div>
          </div>
        </li>

        <li class="list-group-item disabled" id="group-fixed-mode">
          <p class="group-title">Fixed&#8209;mode</p>
          <div class="group-content">
            <div class="item" id="coord-system">
              <label for="select-coord-system">Coordinate system</label>
              <select name="base-coord-system" class="custom-select compact" id="select-coord-system">
                <option selected>WGS-84</option>
              </select>
            </div>
            <div class="item-container-caption" id="group-coords">
              <label>Static coordinates</label>
              <div class="item" id="lat">
                <div class="input-group compact">
                  <div class="input-group-prepend"><span class="input-group-text add-on-coord">lat</span></div>
                  <input name="base-coord-lat" type="number" class="form-control" id="input-lat"
                         value="{{ base.coords.lat }}" data-digits="11">
                  <div class="input-group-append"><span class="input-group-text">&deg;</span></div>
                </div>
              </div>
              <div class="item" id="lon">
                <div class="input-group compact">
                  <div class="input-group-prepend"><span class="input-group-text add-on-coord">lon</span></div>
                  <input name="base-coord-lon" type="number" class="form-control" id="input-lon"
                         value="{{ base.coords.lon }}" data-digits="11">
                  <div class="input-group-append"><span class="input-group-text">&deg;</span></div>
                </div>
              </div>
              <div class="item" id="hgt">
                <div class="input-group compact">
                  <div class="input-group-prepend"><span class="input-group-text add-on-coord">hgt</span></div>
                  <input name="base-coord-hgt" type="number" class="form-control" id="input-hgt"
                         value="{{ base.coords.hgt }}" data-digits="8">
                  <div class="input-group-append"><span class="input-group-text">m</span></div>
                </div>
              </div>
            </div>
          </div>
        </li>

      </ul>
    </section>

    <section class="card" id="ntripc">
      <header class="card-header">
      <span class="switch switch-sm">
        <input name="ntripc" type="checkbox" id="switch-ntripc" {% if ntripc.active %}checked{% endif %}>
        <label for="switch-ntripc"></label>
      </span>
        <h4 class="title">NTRIP Caster</h4>
        <h4><span class="status badge badge-pill" id="ntripc-status"></span></h4>
      </header>

      <ul class="list-group list-group-flush">

        <li class="list-group-item" id="group-caster-settings">
          <p class="group-title">Remote NTRIP&nbsp;caster</p>
          <div class="group-content item-container-multiline">
            <div class="item xxl" id="caster-domain">
              <label for="input-domain">Domain</label>
              <input name="ntripc-domain" type="url" class="form-control compact" id="input-domain"
                     value="{{ ntripc.domain }}">
            </div>
            <div class="item fixed" id="caster-port">
              <label class="align-right" for="input-port">Port</label>
              <input name="ntripc-port" type="number" class="form-control compact" id="input-port"
                     value="{{ ntripc.port }}">
            </div>
            <div class="item m" id="caster-mountpoint">
              <label for="input-mountpoint">Mountpoint</label>
              <input name="ntripc-mountpoint" type="text" class="form-control compact" id="input-mountpoint"
                     value="{{ ntripc.mountpoint }}">
            </div>
            <div class="item l" id="caster-pass">
              <label for="input-password">Password</label>
              <input name="ntripc-password" type="password" class="form-control compact" id="input-password"
                     value="{{ ntripc.pass }}">
            </div>
          </div>
        </li>

        <li class="list-group-item" id="group-caster-str">
          <div class="item" id="caster-str">
            <label for="input-str">STR</label>
            <input name="ntripc-str" type="text" class="form-control compact" id="input-str"
                   value="{{ ntripc.str }}">
          </div>
        </li>

      </ul>
    </section>

    <section class="card" id="ntrips">
      <header class="card-header">
      <span class="switch switch-sm">
        <input name="ntrips" type="checkbox" id="switch-ntrips" {% if ntrips.active %}checked{% endif %}>
        <label for="switch-ntrips"></label>
      </span>
        <h4 class="title">NTRIP Server</h4>
        <h4><span class="status badge badge-pill" id="ntrips-status"></span></h4>
      </header>

      <ul class="list-group list-group-flush">

        <li class="list-group-item" id="group-rtcm-input-status">
          <div class="item" id="rtcm-input-stream">
            <label class="big">Input stream</label>
            <span class="status badge" id="rtcm-input-stream-status"></span>
            <small class="details" id="rtcm-input-stream-details"></small>
          </div>
        </li>

        <li class="list-group-item" id="group-rtcm-output-status">
          <div class="item" id="rtcm-output-stream">
            <label class="big">Output stream</label>
            <span class="status badge" id="rtcm-output-stream-status"></span>
            <small class="details" id="rtcm-output-stream-details"></small>
          </div>
        </li>

        <li class="list-group-item" id="group-rtcm-target">
          <div class="item" id="rtcm-target">
            <label>Target</label>
            <span id="rtcm-stream-details"></span>
          </div>
        </li>

        <li class="list-group-item" id="group-rtcm-messages">
          <p class="group-title">RTCM3 messages</p>
          <table class="table rtcm-msgs-list table-borderless table-hover table-sm" id="table-rtcm-messages">
            <tbody>
              <tr class="item" id="rtcm-1005">
                <td class="msg-switch">
                  <span class="switch switch-xs">
                    <input name="rtcm-1005" type="checkbox" id="switch-rtcm-1005">
                    <label for="switch-rtcm-1005"></label>
                  </span>
                </td>
                <td class="msg-type">1005</td>
                <td class="msg-description">1005 msg description</td>
                <td class="msg-rate">
                  <div class="input-group compact">
                    <select name="rtcm-1005-rate" class="custom-select compact" id="select-rtcm-1005">
                      <option selected>1</option>
                      <option value="1">2</option>
                      <option value="2">5</option>
                    </select>
                    <div class="input-group-append"><span class="input-group-text">s</span></div>
                  </div>
                </td>
              </tr>
              <tr class="item" id="rtcm-1033">
                <td class="msg-switch">
                  <span class="switch switch-xs">
                    <input name="rtcm-1033" type="checkbox" id="switch-rtcm-1033">
                    <label for="switch-rtcm-1033"></label>
                  </span>
                </td>
                <td class="msg-type">1033</td>
                <td class="msg-description">1033 message description that takes a bunch of space</td>
                <td class="msg-rate">
                  <select name="rtcm-1033-rate" class="custom-select compact" id="select-rtcm-1033">
                    <option selected>1 s</option>
                    <option value="1">2 s</option>
                    <option value="2">5 s</option>
                  </select>
                </td>
              </tr>
            </tbody>
          </table>
        </li>

      </ul>
    </section>

    <section class="card" id="footer">
      <ul class="list-group list-group-flush">

        <li class="list-group-item" id="group-general">
          <div class="item" id="time">
            <label>Date/time</label>
            <span id="timestamp"></span>
          </div>
        </li>

        <li class="list-group-item" id="group-buttons">
          <button class="btn btn-danger" type="reset" id="button-uBlox-reset">Reset &mu;Blox</button>
          <button class="btn btn-secondary" type="reset">Reset</button>
          <button class="btn btn-success" type="submit" formmethod="post">Submit</button>
        </li>

      </ul>
    </section>

  </form>

  <!--
  <div class="ruler">
    <div>1</div><div>3</div><div>5</div><div>10</div><div>25</div>
  </div>
  -->

</main>

<script src="{% static 'js/ui.js' %}"></script>
<script src="{% static 'js/status.js' %}"></script>
<script src="{% static 'js/reset-uBlox.js' %}"></script>

</body>

</html>
